.font-display {
  font-family: inherit;
}
.font-body {
  font-family: inherit;
}
@keyframes slide {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.shadow-main {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
}
@keyframes slide-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.container {
  max-width: 1200px;
}

img {
  object-fit: cover;
}

button {
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .flex-wrap {
    flex-direction: column;
  }

  .text-center {
    text-align: center;
  }
  .active {
    color: #ff0000; /* Highlight color for active menu item */
    font-weight: bold;
    border-bottom: 2px solid #ff0000; /* Optional underline */
  }
  
}
